[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
jupyter = "*"
pandas = "*"
mkdocs = "*"
pyyaml = "*"
mkdocs-material = "*"
pytest = "*"

[requires]
python_version = "3.8"
